body{
    margin: 0;
}
h3{
    color: rgb(1, 109, 7);
}
#header{
  display: flex;  
  justify-content: space-evenly;
  align-items: center;
  border:2px solid rgb(61, 59, 63);

}
#header div{
    border: 1px solid rgba(163, 163, 163, 0.205);
    width: 15%;
    font-size: 12px;
    display: flex;
    justify-content: center;
}
#header > div:nth-child(4){
    height: 20%;
}
#header a{
    font-size: 24px;
    color:black;
}

.headerimg{
    width: 80px;
}
.prodimg{
    width:120px !important;
    border-radius: 200px;
}
.cent{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.w40p{

    width: 40% !important;
}
.pannier{
    display:flex;
    width: 50%;
    flex-direction: column;
    align-items: center;
}
#coord{
    width: 30%;
}
.foot{
    background-color: rgba(0, 0, 0, 0.253);
    border:1px solid rgba(0, 0, 0, 0.445);
}
.card{
    display: flex;
    align-items: center;

}
.card img{
    width: 180px;
}

.info-c{
    display: flex;
    flex-direction: column;
}
.lastL-c{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
}
.pcard{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    border:2px solid rgba(0, 0, 0, 0.158)
}
.pcard img{
    width: 80px;
}
.form{
    display: flex;
    flex-direction: column;
}
.formU{
    width: 40%;
    align-items: center;
}
section{
    display: flex;
    justify-content: space-around;
}
.notif{
    position:relative;
    top: 10px;
    
    width: 20px !important;
    height: 20px !important;
    background-color: rgb(165, 32, 32);
    border-radius: 100%;
    font-size:18px !important;
    color:wheat;
    opacity: 0.8;
}
.tot{
    display: flex;
    justify-content: center;
    font-size: 30px;
    width: 33%;
    border: 2px solid rgba(0, 0, 0, 0.199);
}
